<div class="section-spacing">
  <div class="container container--xxs">
    <account-login class="customer-account-box">
      <div class="v-stack gap-6" id="login">
        <div class="v-stack gap-4">
          <h1 class="h3">{{ 'customer.login.title' | t }}</h1>
          <p>{{ 'customer.login.instructions' | t }}</p>
          {% form 'customer_login' %}
            {{ form.errors | default_errors }}
          <div class="form-control" style="margin-top:3rem">
          <p>If you have already created and activated your account, please sign in below.</p>
          <input id="input-template--16748705775848__main--customeremail" class="input" type="email" dir="ltr" name="customer[email]" placeholder="E-mail" autocomplete="email" required=""><label for="input-template--16748705775848__main--customeremail" class="floating-label text-xs">E-mail</label></div><div class="relative"><div class="form-control"><input id="input-template--16748705775848__main--customerpassword" class="input" type="password" name="customer[password]" placeholder="Password" autocomplete="current-password" required=""><label for="input-template--16748705775848__main--customerpassword" class=" text-xs">Password</label></div><div style="margin-block-start:0px" class="input-suffix hide-on-focus">
                                  <a href="#recover" allow-hash-change="" class="text-xs link-faded">Forgot your password?</a>
                                </div>
                              </div>
                            </div>
          <button style="--button-background: 48 48 48;--button-outline-color: 48 48 48;--button-text-color: 255 255 255;" type="submit" class="button">Login</button><div>
                              <span class="text-subdued">Don't have an account?</span>
                              <a href="/account/register" class="link-faded">Sign up</a>
                            </div><input type="hidden" name="return_url" value="/account?"><input type="hidden" name="oseid" value="geDffpQyU5BGbSEvkLvjCnmi"><input type="hidden" name="login_with_shop[analytics_trace_id]" value="6b26c10a-24b4-446c-95b5-7a78e6845816"></form>
          {% endform %}
        </div>

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {%- render block -%}

            {%- when 'liquid' -%}
              {%- if block.settings.liquid != blank -%}
                <div {{ block.shopify_attributes }}>
                  {{- block.settings.liquid -}}
                </div>
              {%- endif -%}

            {%- when 'fields' -%}
              <div {{ block.shopify_attributes }}>
                {%- capture form_recover_capture -%}
                  {%- form 'recover_customer_password' -%}
                    {%- capture form_recover_status -%}
                      {%- if form.posted_successfully? -%}
                        {%- assign success_message = 'customer.recover_password.success_message' | t -%}
                        {%- render 'banner', status: 'success', content: success_message -%}
                      {%- endif -%}
                    {%- endcapture -%}
                  {%- endform -%}
                {%- endcapture -%}

                {%- form 'customer_login', class: 'form' -%}
                  <input
                    type="hidden"
                    name="checkout_url"
                    value="{{ block.settings.return_to | default: routes.account_url }}"
                  >

                  <div class="fieldset">
                    {%- if form.errors -%}
                      {%- render 'banner', status: 'error', content: form.errors.messages.form -%}
                    {%- endif -%}

                    {%- if form_recover_status != blank -%}
                      {{- form_recover_status -}}
                    {%- endif -%}

                    {%- assign email_label = 'customer.login.email' | t -%}
                    {%- render 'input',
                      type: 'email',
                      name: 'customer[email]',
                      label: email_label,
                      autocomplete: 'email',
                      required: true
                    -%}

                    <div class="relative">
                      {%- assign password_label = 'customer.login.password' | t -%}
                      {%- render 'input',
                        type: 'password',
                        name: 'customer[password]',
                        label: password_label,
                        autocomplete: 'current-password',
                        required: true
                      -%}

                      <div class="input-suffix hide-on-focus">
                        <a href="#recover" allow-hash-change class="text-xs link-faded">
                          {{- 'customer.login.forgot_password' | t -}}
                        </a>
                      </div>
                    </div>
                  </div>

                  {%- assign submit_label = 'customer.login.submit' | t -%}
                  {%- render 'button', content: submit_label, type: 'submit' -%}

                  <div>
                    <span class="text-subdued">{{ 'customer.login.no_account' | t }}</span>
                    <a href="{{ routes.account_register_url }}" class="link-faded">
                      {{- 'customer.login.sign_up' | t -}}
                    </a>
                  </div>
                {%- endform -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="v-stack gap-6" id="recover" hidden>
        <div class="v-stack gap-4">
          <h1 class="h3">{{ 'customer.recover_password.title' | t }}</h1>
          <p>{{ 'customer.recover_password.instructions' | t }}</p>
        </div>

        {%- form 'recover_customer_password', class: 'form' -%}
          <div class="fieldset">
            {%- if form.errors -%}
              {%- render 'banner', status: 'error', content: form.errors.messages.form -%}
            {%- endif -%}

            {%- assign email_label = 'customer.recover_password.email' | t -%}
            {%- render 'input',
              type: 'email',
              name: 'email',
              label: email_label,
              autocomplete: 'email',
              required: true
            -%}
          </div>

          {%- unless form.posted_successfully? -%}
            {%- assign submit_label = 'customer.recover_password.submit' | t -%}
            {%- render 'button', content: submit_label, type: 'submit' -%}
          {%- endunless -%}

          <div>
            <span class="text-subdued">{{ 'customer.recover_password.remember_password' | t }}</span>
            <a href="#login" allow-hash-change class="link-faded">
              {{- 'customer.recover_password.back_to_login' | t -}}
            </a>
          </div>
        {%- endform -%}
      </div>
    </account-login>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_customers_login.name",
  "class": "shopify-section--main-customers-login",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fields",
      "name": "t:sections.main_customers_login.blocks.fields.name",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "return_to",
          "label": "t:sections.main_customers_login.blocks.fields.redirect_upon_login",
          "info": "t:sections.main_customers_login.blocks.fields.redirect_upon_login_info"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.main_customers_login.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid"
        }
      ]
    }
  ]
}
{% endschema %}
